<html>
<body>
    <script src="~/scripts/jquery-1.11.3.js"></script>
    <link href="~/css/general.css" rel="stylesheet" />

    <p id="competitive" style="text-align: center; font-size: 48px">Competitive Programming Beginner</p>
    <div id="competitiveProgramming">
        <input type="image" src="~/images/Hackerrank.png" id="hackerrank" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Topcoder.png" id="topcoder" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Codeforces.png" id="codeforces" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Codechef.png" id="codechef" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Coderbyte.png" id="coderbyte" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Leetcode.jpg" id="leetcode" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Codeeval.png" id="codeeval" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Hackerearth.png" id="hackerearth" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Uva.png" id="uva" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Codingame.png" id="codingame" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Codeschool.png" id="codeschool" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Spoj.png" id="spoj" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Codehunt.png" id="codehunt" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Checkio.png" id="checkio" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Empireofcode.png" id="empireofcode" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Programmr.png" id="programmr" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Codealike.png" id="codealike" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Codefight.png" id="codefight" style="text-align: center; border: solid; width: 300px; height: 100px" />
    </div>
    <p id="bugBounty" style="text-align: center; font-size: 48px">Bug Bounty Programs</p>
    <div id="bugBountyPrograms">
        <input type="image" src="~/images/Bugcrowd.png" id="bugcrowd" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Hackerone.png" id="hackerone" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Crowdcurity.png" id="crowdcurity" style="text-align: center; border: solid; width: 300px; height: 100px" />
    </div>
    <p id="security" style="text-align: center; font-size: 48px">Hacking/Security</p>
    <div id="securityReadings">
        <input type="image" src="~/images/Owasp.png" id="owasp" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Shodan.png" id="shodan" style="text-align: center; border: solid; width: 300px; height: 100px" />
    </div>
    <p id="courses" style="text-align: center; font-size: 48px">Courses websites</p>
    <div id="coursesWebsites">
        <input type="image" src="~/images/Pluralsight.png" id="pluralsight" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Coursera.png" id="coursera" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Codecademy.png" id="codecademy" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Mit.png" id="mit" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Edx.png" id="edx" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Udacity.png" id="udacity" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Udemy.png" id="udemy" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Bigdatauniversity.png" id="bigdatauniversity" style="text-align: center; border: solid; width: 300px; height: 100px" />
    </div>


    <script type="text/javascript">
        $(document).ready(function () {

            // Competitive programming
            $('#hackerrank').click(function () {
                document.location = '@Url.Action("Index","Hackerrank")';
            });

            $('#topcoder').click(function () {
                document.location = '@Url.Action("Index","Topcoder")';
            });

            $('#codeforces').click(function () {
                document.location = '@Url.Action("Index","Codeforces")';
            });

            $('#codechef').click(function () {
                document.location = '@Url.Action("Index","Codechef")';
            });

            $('#coderbyte').click(function () {
                document.location = '@Url.Action("Index","Coderbyte")';
            });

            $('#leetcode').click(function () {
                document.location = '@Url.Action("Index","Leetcode")';
            });

            $('#codeeval').click(function () {
                document.location = '@Url.Action("Index","Codeeval")';
            });

            $('#hackerearth').click(function () {
                document.location = '@Url.Action("Index","Hackerearth")';
            });

            $('#uva').click(function () {
                document.location = '@Url.Action("Index","Uva")';
            });

            $('#codingame').click(function () {
                document.location = '@Url.Action("Index","Codingame")';
            });

            $('#codeschool').click(function () {
                document.location = '@Url.Action("Index","Codeschool")';
            });

            $('#spoj').click(function () {
                document.location = '@Url.Action("Index","Spoj")';
            });

            $('#codehunt').click(function () {
                document.location = '@Url.Action("Index","Codehunt")';
            });

            $('#checkio').click(function () {
                document.location = '@Url.Action("Index","Checkio")';
            });

            $('#empireofcode').click(function () {
                document.location = '@Url.Action("Index","Empireofcode")';
            });

            $('#programmr').click(function () {
                document.location = '@Url.Action("Index","Programmr")';
            });

            $('#codealike').click(function () {
                document.location = '@Url.Action("Index","Codealike")';
            });

            $('#codefight').click(function () {
                document.location = '@Url.Action("Index","Codefight")';
            });


            //Bug bounty programs
            $('#bugcrowd').click(function () {
                document.location = '@Url.Action("Index","Bugcrowd")';
            });

            $('#hackerone').click(function () {
                document.location = '@Url.Action("Index","Hackerone")';
            });

            $('#crowdcurity').click(function () {
                document.location = '@Url.Action("Index","Crowdcurity")';
            });


            //Security readings
            $('#owasp').click(function () {
                document.location = '@Url.Action("Index","Owasp")';
            });

            $('#shodan').click(function () {
                document.location = '@Url.Action("Index","Shodan")';
            });


            //Courses
            $('#pluralsight').click(function () {
                document.location = '@Url.Action("Index","Pluralsight")';
            });

            $('#coursera').click(function () {
                document.location = '@Url.Action("Index","Coursera")';
            });

            $('#codecademy').click(function () {
                document.location = '@Url.Action("Index","Codecademy")';
            });

            $('#mit').click(function () {
                document.location = '@Url.Action("Index","Mit")';
            });

            $('#edx').click(function () {
                document.location = '@Url.Action("Index","Edx")';
            });

            $('#udacity').click(function () {
                document.location = '@Url.Action("Index","Udacity")';
            });

            $('#udemy').click(function () {
                document.location = '@Url.Action("Index","Udemy")';
            });

            $('#bigdatauniversity').click(function () {
                document.location = '@Url.Action("Index","Bigdatauniversity")';
            });




            @*$('#topcoder').click(function () {
                $.ajax({
                    url: '@Url.Action("GetIntoTopcoder", "Home")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: "post",
                success: function (homeModel) {
                    alert(homeModel['TopCoderSuccess'])
                },
                error: function () {
                    alert("error")
                }
            });*@
        });

    </script>
</body>
</html>
